body {
  background-color: #EEF0F1;
  margin-bottom: 25px;
  margin-top: 10px;
  color: #435456;
}

a {
  color: #435456;
}

.jumbotron {
  background-color: #45DCF2;
  color: #435456;
}

.jumbotron h1 {
  text-align: center;
  font-size: 32pt;
}

ul li {
  text-decoration: underline;
}

.radio {
  margin-left: 20px;
}

#outro {
  display: none;
  margin-top: 15px;
}

#ruby, #php, #java, #css, #c {
  display: none;
  margin-bottom: 15px;
}
